@{
    ViewBag.Title = "Login Failure";
}
<script type="text/javascript">

    document.querySelector('html').style.minWidth = "150px";

</script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Unsuccessful login with service.</h2>
</hgroup>
